/* src/components/Homepage.css */
.homepage {
    background-size: 1440px 950px; /* width height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height to the full viewport height */
  }
  
  .record-button {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 3rem;
    font-weight: 900;
    font-size: 25px;
    font-family: var(--font-family);
  }
  
  .record-button:hover {
    opacity: 0.7; 
}
