:root {
  --primary-color: #4B5D6C;
  --accent-color: #699695;
  --font-family: 'LemonMilk', sans-serif;
}

.App {
  text-align: center;
  justify-content: center;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('./assets/fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
